anndata>=0.10.6
community==1.0.0b1
infomap==2.8.0
leidenalg==0.10.2
linex2==1.1.16
matplotlib==3.10.5
networkx==3.5
numpy==2.3.2
pandas==2.3.1
python_igraph==0.11.9
python_louvain==0.16
sankey==0.0.2
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
setuptools==78.1.1
tables==3.10.2
torch==2.8.0
tqdm==4.67.1
